@import '../../../public/styles/index.scss';

._general {
  background-color: $mineShaft;
  width: 100%;
  padding: 4rem 0rem;
  box-sizing: border-box;
}

._content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._logos {
  display: flex;
}

._logo {
  margin-right: 2rem;
}


