._container {
  display: flex;
  justify-content: center;
  width: 100%;
}

._coins {
  display: flex;
  align-items: center;
  width: 80%;
  bottom: -20%;
  position: absolute;
}

@mixin coins {
  width: 25%;
  display: flex;
  justify-content: center;
}

._coin1 {
  @include coins
}

._coin2 {
  @include coins
}

._coin3 {
  @include coins
}

._coin4 {
  @include coins
}


