@import '../../../public/styles';

._card {
  border: solid 2px $blueRibbon;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

._minicard {
  width: 100%;
  background-color: $gallery;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
  align-items: center;
  box-sizing: border-box;
}

._title {
  font-family: $helveticaNowText;
  color: $tuna;
  font-weight: bold;
  font-size: 0.9rem;
}

._text {
  font-family: $helveticaNowText;
  color: $tundora;
  font-size: 0.75rem;
}

._imageParent {
  padding: 1rem 1rem 0rem 1.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  height: 6rem;
}

._statusText {
  color: $apple;
  font-family: $helveticaNowText;
  font-weight: 500;
  margin-right: 0.4rem;
  font-size: 0.85rem;
}

._closedText {
  color: $alizarinCrimson;
  font-family: $helveticaNowText;
  font-weight: 500;
  margin-right: 0.4rem;
  font-size: 0.85rem;
}

._rightText {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

._leftCard {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  ._call {
    text-decoration: none;

    @include responsive(md) {
      font-size: 12px;
      padding: 0.8rem 0.3rem;
    }
  }
}

._infoParentBlack {
  display: flex;
  margin: 1.5rem 1rem 0 1rem;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  ._call {
    background-color: $mineShaft;
    width: 40%;
    text-align: center;
    text-decoration: none;
  }

  a div::before {
    content: 'LLAMAR';
  }

  a:hover {
    a div::before {
      content: '';
    }
    a div::after {
      content: attr(id);
    }
  }
}

._call {
  background-color: $blueRibbon;
  font-family: $helveticaNowText;
  font-weight: 600;
  padding: 0.8rem 1rem;
  width: 11rem;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 0.9rem;
  color: $white;
  width: 40%;
  text-align: center;

  & div::before {
    content: 'LLAMAR';
  }

  &:hover {
    & div::before {
      content: '';
    }
    & div::after {
      content: attr(id);
    }
  }
}

._phoneNumber {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

._longAddress {
  color: $blueRibbon;
  font-family: 'Helvetica-Now-Text';
  font-size: 14px;
  width: 55%;
}

._location {
  font-family: $helveticaNowText;
  color: $gray;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  width: 60%;

  svg {
    width: 40px;
    height: 20px;
  }

  @include responsive(md) {
    font-size: 12px;

    svg {
      width: 25px;
    }
  }

  & p {
    margin-right: 0.2rem;
    width: 95%;
  }
}

@include responsive(sm) {
  ._commerce {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  ._commerces {
    display: flex;
    flex-wrap: wrap;
  }

  ._card {
    width: 100%;
  }

  ._infoParentBlack {
    flex-wrap: wrap;
    width: 100%;
    height: inherit;
    margin: 0 1rem 1.5rem;

    ._call{
      width: 60%;
      margin: auto;
    }
  }

  ._longAddress { 
    width: 100%;
    
    p {
      margin-bottom: 1.5rem;
    }
  }
}
