@import '../../../public/styles/index.scss';

._main {
  width: 100%;
  z-index: 999;
}

._container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

._links {
  display: flex;
  align-items: center;
}

._leftSection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

._textLink {
  font-family: $helveticaNowTextBold;
  color: $aquaHaze;
  font-size: 0.9rem;
  display: table-cell;
  padding-left: 3.8rem;
  cursor: pointer;
}

._btnParent {
  display: flex;
  align-items: center;
}

._rightText {
  display: flex;
  align-items: center;
  height: 100%;
}

._locationParent {
  margin-right: 0.8rem;
}

._logo {
  cursor: pointer;
}

._toggle {
  display: none;
}

@include responsive(lg) {
  ._textLink {
    padding-left: 1.5rem;
  }

  ._btnLink {
    margin-left: 1.5rem;
  }
}
