@import '../../../public/styles/';

._container {
  display: flex;
  flex-direction: column;
}

._fixedArea {
  max-height: 100%;
}

._cardContainer {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);

  @include responsive(md) {
    grid-template-columns: auto;
    padding: inherit;
  }
}

._paginationContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3%;

  @include responsive(md) {
    margin-top: 2rem;
  }
}

._cardElement0 {
  grid-column: 1;
  grid-row: 1;
}

._cardElement1 {
  grid-column: 2;
  grid-row: 1;
  
  @include responsive(md) {
    grid-column: 1;
    grid-row: 2;
  }
}

._cardElement2 {
  grid-column: 1;
  grid-row: 2;

  @include responsive(md) {
    grid-column: 1;
    grid-row: 3;
  }
}

._cardElement3 {
  grid-column: 2;
  grid-row: 2;

  @include responsive(md) {
    grid-column: 1;
    grid-row: 4;
  }
}

._cardElement4 {
  grid-column: 1;
  grid-row: 3;

  @include responsive(md) {
    grid-column: 1;
    grid-row: 5;
  }
}

._cardElement5 {
  grid-column: 2;
  grid-row: 3;
  
  @include responsive(md) {
    grid-column: 1;
    grid-row: 6;
  }
}

._clickMe {
  cursor: pointer;
}
