@import "../styles/";

._cardsContainer {
  background-color: $mineShaft;
  padding: 5% 10% 0 10%;
}

._cards {
  display: flex;
  flex-wrap: wrap;
}

._cardContent {
  background-color: $gallery;
  cursor: pointer;
  margin: 0 2% 3%;
  height: max-content;
  padding: 1.5%;
  border-radius: 15px;
  width: 29%;
  border: none;
  text-align: left;
  height: 7rem;

  ._text {
    text-transform: capitalize;
    font-weight: bold;
  }

  p:not(:last-child) {
    font-family: $helveticaNowText;
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}

._searchContainer {
  margin: 2%;
  display: flex;
  justify-content: center;
}

._moreInfoContainer {
  padding: 3% 10% 0 10%;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;

  iframe {
    border: initial;
    border-radius: 15px;
    width: 35vw;
    height: 68vh;
  }
}

._leftInfo {
  width: 35vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._cardContainer {
  margin-bottom: 1rem;
}

._paginationContainer {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

._notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;

  & * {
    font-family: $helveticaNowText;
  }

  & p {
    font-size: 20px;
    text-align: center;
    color: $white;
  }
}

._hideMap {
  position: relative;

  ._hide {
    width: 100%;
    height: 100%;
    background: #34363dcc;
    position: absolute;
    border-radius: 15px;
    p {
      font-family: $helveticaNowText;
      font-size: 20px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      margin: auto;
      text-align: center;
      height: fit-content;
      color: white;
    }
  }
}
@media only screen and (min-width: 1400px) {
  ._leftInfo {
    height: 60vh;
  }

  ._moreInfoContainer {
    iframe {
      height: 60vh;
    }
  }
}
