@import '../../../public/styles/index.scss';

._searchContent {
  display: flex;
  width: fit-content;
  border-radius: 100px;
  padding: 0.4rem 1rem;
  padding-right: 0.5rem;
  background: $aquaHaze;
  // margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  z-index: 2;
}

._selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.3rem;
  &::after {
    width: 2px;
    height: 35px;
    background: $nepal;
    content: ' ';
    border-radius: 50px;
  }
}

._radioContainer {
  width: 20px;
  height: 20px;
}

._select {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  padding-right: 3rem;
  height: 56.2px;
  justify-content: flex-start;
  position: relative;

  label {
    font-weight: 600;
    font-family: $helveticaNowTextBold;
    font-size: 0.875rem;
    line-height: 1.5;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  ._activeCommerce {
    color: $mineShaft;
    svg {
      fill: $mineShaft;
    }
  }

  ._active {
    color: $blueRibbon;
    svg {
      fill: $blueRibbon;
    }
  }
  ._inactive {
    color: $manatee;
    svg {
      fill: $manatee;
    }
  }
  select {
    height: 59px;
    position: absolute;
    background: none;
    border: none;
    font-family: $helveticaNowText;
    color: $nepal;
    font-weight: 500;
    font-size: 0.9rem;
    appearance: none;
    line-height: 1.5;
    font-size: 0.8rem;
  }
}

._dropdown {
  width: 10px;
  margin-left: 10px;
}

._inputContainer {
  display: flex;
  height: 100%;
  align-items: center;
  input {
    background: none;
    border: none;
    font-family: $helveticaNowText;
    color: $bombay;
    font-weight: 500;
    font-size: 0.9rem;
    appearance: none;
    width: 75%;
    height: auto;
    border-bottom: 1px solid $nepal;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    margin-top: 5px;
    &::placeholder {
      color: $bombay;
    }
  }
}

._goButton {
  height: 90%;
  width: 7.7rem;
  border-radius: 36px;
  border: none;
  color: $aquaHaze;
  background: $blueRibbon;
  font-size: 1rem;
  font-family: $helveticaNowText;
  cursor: pointer;
  margin-left: 1rem;
}

@include responsive(md) {
  ._searchContent {
    justify-content: center;
    align-items: center;
    width: auto;
    flex-direction: column;
    background-color: transparent;
    height: auto;
  }

  ._inputContainer {
    width: 310px;
    background-color: #eff4f6;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 5px;
    ._goButton {
      padding: 10px 10px;
    }
    input {
      border: none;
    }
  }
  ._selectContainer {
    margin: 5px auto;
    width: 260px;
    padding: 0px;
    justify-content: space-between;
    &::after {
      content: none;
    }
    ._select {
      padding: 0.5rem 1rem;
      width: 100%;
      ._active {
        color: $aquaHaze;
        svg {
          fill: $aquaHaze;
        }
      }
      ._activeCommerce {
        color: $mineShaft;
        svg {
          fill: $mineShaft;
        }
      }
      select {
        width: 100%;
      }
    }
  }
}
