@import '../../../public/styles/index.scss';

@mixin menu() {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $mineShaft;
  top: 0px;
  left: -100%;
  z-index: 999;
}

._child {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._menu {
  @include menu;
  animation: in ease-in 0.6s forwards;
}

._menuHidden {
  @include menu;
  animation: out ease-out 0.6s forwards;
}

._static {
  display: none;
}

._list {
  list-style: none;
  font-family: $helveticaNowText;
  color: $mineShaft;
  font-size: 0.9rem;
  margin-top: 3rem;

  & li {
    margin-top: 1.4rem;
    cursor: pointer;
  }
}

._toggleParent {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

._btnLink {
  font-family: $helveticaNowTextBold;
  background-color:$blueRibbon;
  color: $mineShaft;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  color: $white;
}

._locationParent {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

._worldParent {
  margin-left: 0.2rem;
}

@keyframes in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

._toggleMobile {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

._menuLinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

._contentParent {
  width: 100%;
  height: 100%;
  padding: 1.5rem 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

._separator {
  margin: 0.7rem 0px;
  border:0px;
  background-color: $doveGray;
  height: 1px;
}


._links {
  & p {
    color: $white;
    font-family: $helveticaNowText;
    font-size: 0.8rem;
  }
}

._contact {
    & p {
      color: $white;
      font-family: $helveticaNowText;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
}

@mixin btn($background, $color) {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  background-color: $background;
  color: $color;
  border: none;
  font-family: $helveticaNowText;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

._buttons {
  width: 100%;
}

._buttonsChild {
  width: 20%;
}

._blueBtn {
  @include btn($blueRibbon, $white);
}

._whiteBtn {
  @include btn($white, $blueRibbon);
  margin-bottom: 0.7rem;
}

._logosParent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

._tcwLogo {
  margin-right: 1rem;
}

._rightSide {
  display: flex;
}
